<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="usuarioService" class="mx.com.mentoringit.services.UsuarioService">
		<property name="usuario" ref="usuarioBean"></property>
	</bean>

	<bean id="usuarioBean" class="mx.com.mentoringit.model.dao.UsuarioDAO">
	</bean>

	<bean id="clienteService" class="mx.com.mentoringit.services.ClienteServices">
		<constructor-arg index="0" ref="clienteDAO" />
	</bean>

	<bean id="clienteDAO" class="mx.com.mentoringit.model.dao.ClienteDAO"
	scope="prototype">
	</bean>

	<bean id="bancoService" class="mx.com.mentoringit.services.BancoService">
		<property name="bancoDAO" ref="bancoDAO"></property>
	</bean>

	<bean id="bancoDAO" class="mx.com.mentoringit.model.dao.BancoDAO"></bean>
</beans>